/Data/*
/Assignments/*
/Labs/*
/Syllabus/*
/*/*_cache/*
/*/cache/*
/*/figure/*
*.csv
*.rds
*.dta
*.aux
*.bbl
*.fls
*.log
*.out
*.synctex
*.blg
*.fdb

/*/*.csv
/*/*.rds
/*/*.dta
/*/*.aux
/*/*.bbl
/*/*.fls
/*/*.log
/*/*.out
/*/*.synctex
/*/*.blg
/*/*.fdb