/Data/*
/Assignments/*
/Labs/*
/*/*_cache/*
/*/cache/*
# /*/*files/*
# /*/*libs/*
/*/figure/*
*.csv
*.rds
*.dta
*.aux
*.bbl
*.fls
*.log
*.out
*.synctex
*.blg
*.fdb
*/*DS_store

/*/*.csv
/*/*.rds
/*/*.dta
/*/*.aux
/*/*.bbl
/*/*.fls
/*/*.log
/*/*.out
/*/*.synctex
/*/*.blg
/*/*.fdb